/* your css here */

body {
	/* font-family: 'Open Sans'; */
	font-family: sans-serif;
}

.content .blog-post-title {
    font-weight: 600 !important;
}

ul li {
	margin-left: 0rem;
}

.nav li {
    padding: 0 1rem 0 1rem;
}


.markdown.page-content {
	font-size: 1.0625rem;
	line-height: 2rem;
}

.markdown.blog-post-content {
	font-size: 1.0625rem;
	line-height: 2rem;
}

.recent-articles {
	margin-bottom: 0.8rem;
}

.footer-row {
	--bs-gutter-x: .5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	/* margin-right: calc(-0.5 * var(--bs-gutter-x)); */
	/* margin-left: calc(-0.5 * var(--bs-gutter-x)); */
}
.footer-row > * {
	flex-shrink: 0;
	max-width: 100%;
	/* padding-right: calc(var(--bs-gutter-x) * 0.5); */
	/* padding-left: calc(var(--bs-gutter-x) * 0.5); */
	margin-top: var(--bs-gutter-y);
}
.footer-spacer {
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

@media (min-width: 1200px) {
	h3, .h3 {
		font-size: 1.4rem;
	}
}

@media (min-width: 1200px) {
	h4, .h4 {
		font-size: 1.3rem;
	}
}